<p id="notice"><%= notice %></p>

<p>
  <strong>Mean:</strong>
  <%= @stat_non_pat_adult.mean %>
</p>

<p>
  <strong>Mean:</strong>
  <%= @stat_non_pat_adult.mean %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @stat_non_pat_adult.sd %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @stat_non_pat_adult.sd %>
</p>

<p>
  <strong>Min:</strong>
  <%= @stat_non_pat_adult.min %>
</p>

<p>
  <strong>Min:</strong>
  <%= @stat_non_pat_adult.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @stat_non_pat_adult.max %>
</p>

<p>
  <strong>Max:</strong>
  <%= @stat_non_pat_adult.max %>
</p>

<p>
  <strong>Freq:</strong>
  <%= @stat_non_pat_adult.freq %>
</p>

<p>
  <strong>Median:</strong>
  <%= @stat_non_pat_adult.median %>
</p>

<p>
  <strong>Median:</strong>
  <%= @stat_non_pat_adult.median %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @stat_non_pat_adult.mode %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @stat_non_pat_adult.mode %>
</p>

<p>
  <strong>Sk:</strong>
  <%= @stat_non_pat_adult.sk %>
</p>

<p>
  <strong>Sk:</strong>
  <%= @stat_non_pat_adult.sk %>
</p>

<p>
  <strong>Ku:</strong>
  <%= @stat_non_pat_adult.ku %>
</p>

<p>
  <strong>Ku:</strong>
  <%= @stat_non_pat_adult.ku %>
</p>

<p>
  <strong>Variable:</strong>
  <%= @stat_non_pat_adult.variable %>
</p>

<%= link_to 'Edit', edit_stat_non_pat_adult_path(@stat_non_pat_adult) %> |
<%= link_to 'Back', stat_non_pat_adults_path %>
