<h1>Listing allowed_interpretations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Direction</th>
      <th>Formal quality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allowed_interpretations.each do |allowed_interpretation| %>
      <tr>
        <td><%= allowed_interpretation.name %></td>
        <td><%= allowed_interpretation.description %></td>
        <td><%= allowed_interpretation.direction %></td>
        <td><%= allowed_interpretation.formal_quality %></td>
        <td><%= link_to 'Show', allowed_interpretation %></td>
        <td><%= link_to 'Edit', edit_allowed_interpretation_path(allowed_interpretation) %></td>
        <td><%= link_to 'Destroy', allowed_interpretation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allowed interpretation', new_allowed_interpretation_path %>
