<h1>Listing interpretations</h1>

<table>
  <thead>
    <tr>
      <th>Direction</th>
      <th>Formal quality</th>
      <th>DQ</th>
      <th>name</th>
      <th>description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interpretations.each do |interpretation| %>
      <tr>
        <td><%= interpretation.direction %></td>
        <td><%= interpretation.formal_quality %></td>
        <td><%= interpretation.development_quality %></td>
        <td><%= interpretation.name %></td>
        <td><%= interpretation.description %></td>
        <td><%= link_to 'Show', interpretation %></td>
        <td><%= link_to 'Edit', edit_interpretation_path(interpretation) %></td>
        <td><%= link_to 'Destroy', interpretation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interpretation', new_interpretation_path %>
